<ul>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="https://www.spotify.com/us/account/overview/">My Account</a></li>
  <li><%= link_to 'My Playlists', player_playlists_path %>My Playlists</li>
</ul>
<div>
	<br><p id="notice"><%= notice %></p>

	<h1>New Playlist</h1>
	
	<%= render 'form' %>

	<footer>
<%= link_to 'Back', player_playlists_path %>
</footer>
</div>
